
<div class="navbar-nav mr-auto">
    <div class="nav-item">
      <a
        routerLink="/"
        class="nav-link"
        routerLinkActive="router-link-exact-active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Home
      </a>
    </div>
    <div class="nav-item">
      <a
        routerLink="/profile"
        class="nav-link"
        routerLinkActive="router-link-exact-active"
      >
        UserDetails
      </a>
    </div>
    <!-- <div class="nav-item">
      <a
        routerLink="/external-api"
        class="nav-link"
        routerLinkActive="router-link-exact-active"
      >
        External API
      </a>
    </div>
    <div class="nav-item">
      <a
        routerLink="/external-api2"
        class="nav-link"
        routerLinkActive="router-link-exact-active"
      >
        External API2
      </a>
    </div> -->
    <div class="nav-item">
      <a
        routerLink="/lists"
        class="nav-link"
        routerLinkActive="router-link-exact-active"
      >
        ToDoList
      </a>
    </div>
  </div>